.projets-custom{
    margin-top: 40px;
    .projet-intro{
        padding-top: 40px;
        p{
            font-size: 16px;
            font-family: $jaldi;
        }
    }
    .projets-container{
        padding-bottom: 45px;
        .projet-mini{
            position: relative;
            padding: 40px;
            .on-hover{
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                overflow: hidden;
                transition: 0.4s ease all;
                img{
                    width: 100%;
                    z-index: 1;
                    transition: 0.4s ease all;
                }
                span{
                    opacity: 0;
                    transition: 0.4s ease all;
                    .projet-titre{
                        display: none;

                    }
                }
                &:hover{
                    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
                    transition: 0.4s ease all;
                    img{
                        transform: scale(2,2);
                        transition: 40s linear all;
                    }
                    span{
                        opacity: 1;
                        transition: 0.4s ease all;
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: rgba(0,0,0,0.6);
                        .projet-titre{
                            position: relative;
                            display: block;
                            top: 40%;
                            left: 0;
                            h2{
                                text-align: center;
                                color: #fff;
                                font-family: $merriweather;
                                font-size: 23px;
                                font-weight: 700;
                            }
                            h3{
                                text-align: center;
                                color: #fff;
                                font-family: $jaldi;
                                font-size: 16px;
                                letter-spacing: 4px;
                                text-transform: uppercase;
                                padding: 0 40px;
                            }
                        }
                    }
                }
            }
            .btn-discover{
                position: absolute;
                z-index: 2;
                bottom: 30px;
                right: 30px;
                height: 60px;
                width: 60px;
                background: $red-main;
                border: 1px solid $red-main;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.4s ease all;
                font-family: $jaldi;
                &:hover{
                    background: #fff;
                    color: $red-main;
                    border: 1px solid $red-main;
                    transition: 0.4s ease all;
                }
            }
        }
    }
}
